<footer>
    <iframe src="https://www.google.com/maps/d/embed?mid=1YWjn5Skzv4hXMG3TeRTC2UNMjYo" width="100%" height="480"></iframe>
    
        <div class="container">
    
            <div class="row"> <!-- Inicio Row -->
    
                <div class="col-md-3 footer1">  <!-- Widget 1 -->
                    <img src="http://www.werereallygood.com/images/logo-footer.png" alt="">
    
                    <p>At wereReallyGood.com we care about our customers. The best services of Digital Marketing, Printing and Professional Design.</p></div>
    
                <div class="col-md-3 footer2">  <!-- Widget 2 -->
    
                    <h1>Pages</h1>
                    <ul>
                        <li><a href=""> Contact Us</a></li>
                        <li><button (click)="incTime()">Start</button></li>
                        <li><button (click)="showTime()">Time</button></li>
    
                    </ul> <!--  fin Widget 2 -->
                </div><!--  fin Widget 2 -->
    
                <div class="col-md-3 footer3"> <!--   Widget 3 -->
                    <h1> Contact Info</h1>
                    <p>Do you need a quote? A business card, a website? Write to our mail.</p>
    
                    <p>support@werereallygood.com</p>
    
    
                </div>  <!--  fin Widget 3 -->
    
                <div class="col-md-3  footer4"> <!--   Widget 4 -->
                    <h1>Social Media</h1>
                    <p>Stay connected with us. Follow us on our Social Media and find out everything new that we have for you.</p>
                    <ul class="bottom-menu-iconic-list-footer">
                        <li><a class="fa fa-facebook" href="https://www.facebook.com/werereallygood" target="_blank"></a></li>
                        <!--<li><a class="fa fa-youtube" href="#" target="_blank" style="outline: none; cursor: inherit;"></a></li>
                        <li><a class="fa fa-instagram" href="#" target="_blank" style="outline: none; cursor: inherit;"></a></li>
                    --></ul>
    
    
                </div> <!--   fin Widget 4 -->
    
    
            </div><!-- Fin Row -->
    
    
        </div> <!-- End Container Footer -->
        <div class=" container separador-footer"></div>
    
        <div class="container copy"> <!-- Copy -->
    
            <div class="col-md-12">
    
                <p> Copyright &copy; <span class="copy-date" ></span></p>
            </div>
        </div>
    
    
    </footer> <!-- end footer -->