<div id="wrg-dash">
<nav class="navbar navbar-inverse short-nav">
  <div class="container-fluid">
    <div class="row">
    <div class="navbar-header">
      <img style="max-height:50px;"src="http://www.werereallygood.com/images/logo-negativo-we.png">
    </div>
  </div>
  <div class="row">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li  class="dropdown" >
              <a  class="dropdown-toggle" role="button" >Marketing <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="'/store/grid'">Grid</a></li>
                <li><a routerLink="/store/search">Search</a></li>
                <li><a routerLink="/store/home">Home</a></li>
              </ul>
            </li>
            <li  class="dropdown" >
                <a class="dropdown-toggle" role="button" >Printing <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/dash">Register</a></li>
                  <li><a routerLink="">Login</a></li>
                </ul>
              </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" >
          <a class="dropdown-toggle" role="button">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/dash/">Register</a></li>
            <li><a href="/dash/">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>

<div id="sidebar" class="sidebar col-md-2">
<p>
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
  wrg-dash works!
</p>
</div>
<div class="body col-md-10"></div>



</div>